Repository theopenlane/core, pull requests merged in 2024-09, with the labels that each got.

#26 openapi updates and minor readme changes
  README.md
  internal/httpserve/route/webauthn.go
  internal/httpserve/server/openapi.go
Labels: enhancement, httpserve

#28 fix: duplicate client in different folder
  gqlgenc.yml
  pkg/coreclient/graphclient.go
  pkg/coreclient/models.go
Labels: codegenerators

#34 breaking changes for httpsling v0.2.0
  go.mod
  go.sum
  internal/httpserve/authmanager/authmanager.go
  pkg/openlaneclient/client.go
  pkg/openlaneclient/config.go
  pkg/openlaneclient/creds.go
  pkg/openlaneclient/options.go
  pkg/openlaneclient/restclient.go
Labels: httpserve

#39 update goreleaser and cli name
  .goreleaser.yaml
  cmd/cli/cmd/client.go
  cmd/cli/cmd/root.go
  cmd/root.go
Labels: bug, cli

#40 another golreaser update
  .goreleaser.yaml
Labels: bug

#48 update security.txt
  internal/httpserve/route/security.txt
Labels: enhancement, httpserve

#49 add apple merchant file association
  internal/httpserve/route/applemerchant
  internal/httpserve/route/mta-sts.txt
  internal/httpserve/route/router.go
  internal/httpserve/route/static.go
Labels: enhancement, httpserve

#46 Feat ratelimiter
  .pre-commit-config.yaml
  pkg/middleware/ratelimiter/README.md
  pkg/middleware/ratelimiter/doc.go
  pkg/middleware/ratelimiter/examples/http_middleware.go/http_middleware.go
  pkg/middleware/ratelimiter/examples/simple/simple.go
  pkg/middleware/ratelimiter/map_limit_store.go
  pkg/middleware/ratelimiter/map_limit_store_test.go
  pkg/middleware/ratelimiter/ratelimiter.go
  pkg/middleware/ratelimiter/ratelimiter_test.go
  sonar-project.properties
Labels: enhancement

#65 better block text
  internal/httpserve/server/server.go
Labels: enhancement, httpserve

#74 use envparse from utils
  jsonschema/envparse/doc.go
  jsonschema/envparse/parse.go
  jsonschema/schema_generator.go
Labels: config

#75 license, readme, minor updates
  .github/CONTRIBUTING.md
  .pre-commit-config.yaml
  LICENSE
  README.md
  docs/tools.md
  pkg/openlaneclient/graphclient.go
  query/contact.graphql
  query/documentdatahistory.graphql
  query/entitlementplanfeature.graphql
  query/entitytypehistory.graphql
  query/event.graphql
  query/notehistory.graphql
Labels: enhancement, coreclient, ci

#88 remove libsql and sqlite support
  .buildkite/pipeline.yaml
  README.md
  Taskfile.yaml
  db/README.md
  db/Taskfile.yaml
  db/create_migrations.go
  db/migrate.go
  docs/tools.md
  internal/entdb/client.go
  internal/graphapi/errors.go
Labels: migrations, local-development, graphapi, ci

#94 feat: test support for pg 17, remove pg 15
  .buildkite/pipeline.yaml
Labels: enhancement, ci

#98 fix: use tag vs. latest for aio image
  docker/all-in-one/Dockerfile.all-in-one
Labels: local-development
