Repository theopenlane/core, pull requests merged in 2024-12, with the labels that each got.

#260 fix: don't recreate clients on every test, only test data
  internal/graphapi/tfasetting_test.go
  internal/graphapi/tools_test.go
Labels: enhancement, graphapi

#272 update iam, regen config
  README.md
  config/.env.example
  config/config.example.yaml
  config/configmap.yaml
  go.mod
  go.sum
Labels: config, dependencies

#273 local dev: task commands for token, apollo sandbox setup
  README.md
  cmd/cli/Taskfile.yaml
  cmd/cli/cmd/organization/get.go
Labels: cli

#274 use hosted large for core tests
  .buildkite/pipeline.yaml
Labels: ci

#280 subscriptions updates and event hook refactor
  config/.env.example
  config/config.example.yaml
  config/configmap.yaml
  internal/ent/hooks/errors.go
  internal/ent/hooks/event.go
  internal/ent/hooks/helpers.go
  internal/entdb/client.go
  internal/httpserve/serveropts/option.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
  pkg/entitlements/client.go
  pkg/entitlements/config.go
  pkg/entitlements/customers.go
  pkg/entitlements/errors.go
  pkg/entitlements/helpers.go
  pkg/entitlements/helpers_test.go
  pkg/entitlements/models.go
  pkg/entitlements/querybuilder.go
  pkg/entitlements/querybuilder_test.go
  pkg/entitlements/subscriptions.go
Labels: enhancement, httpserve, config

#281 Feat squashertons
  .pre-commit-config.yaml
  docker/all-in-one/Dockerfile.all-in-one
  docker/docker-compose-fga.yml
  docker/docker-compose-tracing.yml
  go.mod
  go.sum
  query/procedurehistory.graphql
  query/riskhistory.graphql
Labels: enhancement, local-development, coreclient

#288 add new issue form thingy
  .github/ISSUE_TEMPLATE/bugreport.yml
Labels: enhancement, ci

#282 fix mismatched names on request and response
  docker/docker-compose-tracing.yml
  internal/httpserve/handlers/acccountaccess.go
  internal/httpserve/handlers/acccountroles.go
  internal/httpserve/handlers/acccountrolesorganization.go
  internal/httpserve/handlers/invite.go
  internal/httpserve/handlers/refresh.go
  internal/httpserve/handlers/resendemail.go
  internal/httpserve/handlers/upload.go
  internal/httpserve/handlers/verifyemail.go
  internal/httpserve/handlers/verifysubscribe.go
  internal/httpserve/route/accountrolesorganization.go
  internal/httpserve/route/upload.go
  internal/httpserve/server/openapi.go
  pkg/objects/.mockery.yaml
  pkg/objects/mocks/mock_Option.go
  pkg/objects/mocks/mock_Storage.go
  pkg/objects/mocks/mock_UploadOption.go
Labels: bug, local-development, httpserve

#292 limit the builds from renovate; remove unused fgax/mockery
  .buildkite/pipeline.yaml
  tools.go
Labels: ci, dependencies

#296 upgrade iam, entx, utils, fix docker build
  .buildkite/pipeline.yaml
  Taskfile.yaml
  docker/Dockerfile
  docker/Taskfile.yaml
  docker/all-in-one/Dockerfile.all-in-one
  go.mod
  go.sum
Labels: local-development, ci, dependencies

#298 fix deprecated functions from latest gqlen
  internal/graphapi/resolver.go
  pkg/testutils/client.go
Labels: graphapi

#306 Feat betterloggingwrapper
  cmd/root.go
  go.mod
  go.sum
  pkg/logx/consolelog/README.md
  pkg/logx/consolelog/consolelog.go
  pkg/logx/consolelog/consolelog_test.go
  pkg/logx/consolelog/doc.go
  pkg/logx/consolelog/example_test.go
  pkg/logx/pzlog/pzlog.go
Labels: enhancement

#315 add back the seed data
  db/migrate.go
  db/seed/01_seed_root_org.sql
  internal/entdb/client.go
Labels: migrations

#320 remove default queue from top, this will be set in the UI instead
  .buildkite/pipeline.yaml
  internal/graphapi/internalpolicy.resolvers.go
Labels: graphapi, ci

#322 fix: csv upload should not save file
  .github/labeler.yml
  internal/graphapi/organization_test.go
  internal/graphapi/testdata/uploads/orgs.csv
  internal/middleware/objects/middleware.go
Labels: bug, graphapi, ci

#323 Use env vars to set large/small jobs
  .buildkite/pipeline.yaml
Labels: ci

#342 fixup a few errors in our OpenAPI spec for REST endpoints
  internal/httpserve/handlers/acccountrolesorganization.go
  internal/httpserve/handlers/openapi.go
  internal/httpserve/handlers/verifyemail.go
  internal/httpserve/handlers/verifysubscribe.go
  internal/httpserve/route/accountrolesorganization.go
  internal/httpserve/server/openapi.go
Labels: bug, httpserve
