Repository theopenlane/core, pull requests merged in 2024-10, with the labels that each got.

#102 deps: upgrade trivy version to 0.55.2
  .buildkite/pipeline.yaml
Labels: ci, dependencies

#108 deps: bump riverboat + config:Generate
  config/.env.example
  config/config.example.yaml
  config/configmap.yaml
  go.mod
  go.sum
Labels: config, dependencies

#119 feat: update that logo
  internal/httpserve/route/assets/favicon.ico
Labels: enhancement, httpserve

#125 add dependabot + renovate to deps labeler
  .github/labeler.yml
Labels: ci, dependencies

#137 initial cut of a registry
  go.mod
  go.sum
  pkg/registry/doc.go
  pkg/registry/format.go
  pkg/registry/format_test.go
  pkg/registry/helpers.go
  pkg/registry/helpers_test.go
  pkg/registry/loader.go
  pkg/registry/registry.go
  pkg/registry/validate.go
Labels: enhancement

#145 feat-object storage enhancements
  go.mod
  go.sum
  internal/graphapi/tools_test.go
  internal/httpserve/serveropts/option.go
  internal/middleware/objects/middleware.go
  pkg/objects/errors.go
  pkg/objects/io.go
  pkg/objects/io_test.go
  pkg/objects/mocks/mock_Storage.go
  pkg/objects/objects.go
  pkg/objects/options.go
  pkg/objects/storage/disk.go
  pkg/objects/storage/diskoptions.go
  pkg/objects/storage/errors.go
  pkg/objects/storage/s3.go
  pkg/objects/storage/s3options.go
  pkg/objects/validator.go
Labels: enhancement, httpserve, graphapi

#152 fix up linter config, fix cuddles
  .golangci.yaml
  internal/graphapi/apitoken.resolvers.go
  internal/graphapi/apitoken_test.go
  internal/graphapi/contact.resolvers.go
  internal/graphapi/contact_test.go
  internal/graphapi/documentdata.resolvers.go
  internal/graphapi/entitlement.resolvers.go
  internal/graphapi/entitlement_test.go
  internal/graphapi/entitlementplan.resolvers.go
  internal/graphapi/entitlementplan_test.go
  internal/graphapi/entitlementplanfeature.resolvers.go
  internal/graphapi/entitlementplanfeature_test.go
  internal/graphapi/entity.resolvers.go
  internal/graphapi/entity_test.go
  internal/graphapi/entityextended.resolvers.go
  internal/graphapi/entitytype.resolvers.go
  internal/graphapi/entitytype_test.go
  internal/graphapi/errors.go
  internal/graphapi/feature.resolvers.go
  internal/graphapi/feature_test.go
  internal/graphapi/group.resolvers.go
  internal/graphapi/group_test.go
  internal/graphapi/groupmembers_test.go
  internal/graphapi/helpers.go
  internal/graphapi/helpers_test.go
  internal/graphapi/integration.resolvers.go
  internal/graphapi/invite.resolvers.go
  internal/graphapi/invite_test.go
  internal/graphapi/models_test.go
  internal/graphapi/oauthprovider.resolvers.go
  internal/graphapi/organization_test.go
  internal/graphapi/orgmembers_test.go
  internal/graphapi/resolver.go
  internal/graphapi/subscriber.resolvers.go
  internal/graphapi/subscriber_test.go
  internal/graphapi/template.resolvers.go
  internal/graphapi/tfasetting_test.go
  internal/graphapi/tools_test.go
  internal/graphapi/user.resolvers.go
  internal/graphapi/user_test.go
  internal/graphapi/usersetting_test.go
  internal/graphapi/webhook.resolvers.go
Labels: graphapi

#155 feat: add default user avatar if one is not set
  internal/ent/hooks/user.go
  internal/httpserve/handlers/oauth_login_handlers_test.go
Labels: enhancement, httpserve

#93 feat: add support for postgres 17, remove postgres 15
  .buildkite/pipeline.yaml
  Taskfile.yaml
  db/Taskfile.yaml
  docker/docker-compose-pg.yml
  internal/entdb/client.go
Labels: enhancement, migrations, local-development, ci

#163 remove mta sts sillyness
  internal/httpserve/route/mta-sts.txt
  internal/httpserve/route/router.go
  internal/httpserve/route/static.go
Labels: bug, httpserve

#167 feat: seed system org and plan, remove sqlite migrations
  db/create_migrations.go
  db/migrations-goose-postgres/20241030173034_base.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations-goose-sqlite/20240827061437_init.sql
  db/migrations-goose-sqlite/atlas.sum
Labels: enhancement, migrations
