Repository theopenlane/core, pull requests merged in 2024-11, with the labels that each got.

#196 golangci updates for speed
  .buildkite/pipeline.yaml
  .golangci.yaml
  Taskfile.yaml
  pkg/middleware/ratelimiter/ratelimiter.go
Labels: local-development, ci

#200 fix apple merchant route
  internal/httpserve/route/static.go
Labels: bug, httpserve

#207 feat: remove fga mocks, use test container
  fga/model/model.fga
  fga/tests/tests.yaml
  go.mod
  go.sum
  internal/ent/generated/authz_checks.go
  internal/ent/hooks/group.go
  internal/ent/hooks/mutationhelpers.go
  internal/ent/hooks/organization.go
  internal/ent/hooks/program.go
  internal/ent/hooks/user.go
  internal/ent/privacy/rule/organization.go
  internal/graphapi/apitoken.resolvers.go
  internal/graphapi/apitoken_test.go
  internal/graphapi/contact_test.go
  internal/graphapi/ent.resolvers.go
  internal/graphapi/entitlement_test.go
  internal/graphapi/entitlementplan_test.go
  internal/graphapi/entitlementplanfeature_test.go
  internal/graphapi/entity_test.go
  internal/graphapi/entitytype_test.go
  internal/graphapi/errors.go
  internal/graphapi/event.resolvers.go
  internal/graphapi/feature_test.go
  internal/graphapi/group_test.go
  internal/graphapi/groupmembers_test.go
  internal/graphapi/integration.resolvers.go
  internal/graphapi/invite.resolvers.go
  internal/graphapi/invite_test.go
  internal/graphapi/models_test.go
  internal/graphapi/organization_test.go
  internal/graphapi/orgmembers_test.go
  internal/graphapi/personalaccesstoken_test.go
  internal/graphapi/seed_test.go
  internal/graphapi/subscriber.resolvers.go
  internal/graphapi/subscriber_test.go
  internal/graphapi/task_test.go
  internal/graphapi/tfasetting_test.go
  internal/graphapi/tools_test.go
  internal/graphapi/user_test.go
  internal/graphapi/usersetting_test.go
  internal/httpserve/handlers/accountaccess_test.go
  internal/httpserve/handlers/accountroles_test.go
  internal/httpserve/handlers/accountrolesorganization_test.go
  internal/httpserve/handlers/forgotpassword_test.go
  internal/httpserve/handlers/invite_test.go
  internal/httpserve/handlers/login_test.go
  internal/httpserve/handlers/oauth_login_handlers_test.go
  internal/httpserve/handlers/oauth_register_test.go
  internal/httpserve/handlers/refresh_test.go
  internal/httpserve/handlers/register_test.go
  internal/httpserve/handlers/resend_test.go
  internal/httpserve/handlers/resetpassword_test.go
  internal/httpserve/handlers/seed_test.go
  internal/httpserve/handlers/tools_test.go
  internal/httpserve/handlers/userinfo_test.go
  internal/httpserve/handlers/verify_test.go
  internal/httpserve/handlers/verifysubscribe_test.go
Labels: enhancement, authorization, httpserve, graphapi

#209 bug: rate limiting trivy db, try using the mirror source
  .buildkite/pipeline.yaml
Labels: bug, ci

#210 fix formatting
  .pre-commit-config.yaml
  docker/Taskfile.yaml
  docker/docker-compose-pg.yml
Labels: local-development

#211 fixes from pre-commit run: typos and graphql formatting
  docker/docker-compose-riverboat.yml
  pkg/objects/objects.go
  pkg/objects/options.go
  query/feature.graphql
  query/internalpolicyhistory.graphql
  query/organizationhistory.graphql
  query/standard.graphql
  query/usersettinghistory.graphql
Labels: local-development, coreclient, run-ci

#217 trivy: try aws registry
  .buildkite/pipeline.yaml
Labels: ci

#221 Document adding openlane.fga
  README.md
Labels: run-ci

#232 add better error logging and file / directory check
  config/config.go
Labels: enhancement, config

#240 fix missing and incorrect vars
  .buildkite/pipeline.yaml
Labels: ci

#253 readme, linter config, misc changes
  .github/CONTRIBUTING.md
  .golangci.yaml
  README.md
  Taskfile.yaml
  assets/logo.png
  docs/tools.md
Labels: enhancement, local-development, ci
