Repository theopenlane/core, pull requests merged in 2025-06, with the labels that each got.

#796 Evidence: creation date cannot be in the future
  internal/ent/hooks/errors.go
  internal/ent/hooks/evidence.go
  internal/graphapi/evidence_test.go
  internal/graphapi/models_test.go
Labels: bug, graphapi

#803 publish to new apollo account
  .buildkite/pipeline.yaml
Labels: bug, ci

#814 add CSRF wrapper
  cmd/serve.go
  config/.env.example
  config/config.example.yaml
  config/config.go
  config/configmap.yaml
  internal/httpserve/serveropts/option.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
  pkg/middleware/csrf/config.go
  pkg/middleware/csrf/doc.go
Labels: enhancement, httpserve, config

#816 Feat cert rotation
  cmd/serve.go
  config/.env.example
  config/README.md
  config/config.example.yaml
  config/config.go
  config/configmap.yaml
  go.mod
  go.sum
  internal/graphapi/generated/jobresult.generated.go
  internal/httpserve/config/config_test.go
  internal/httpserve/config/configprovider_test.go
  internal/httpserve/config/configproviderrefresh.go
  internal/httpserve/server/basicserver_test.go
  internal/httpserve/server/openapi_test.go
  internal/httpserve/server/server_test.go
  internal/httpserve/serveropts/hooks_test.go
  internal/httpserve/serveropts/keydir.go
  internal/httpserve/serveropts/keydir_test.go
  internal/httpserve/serveropts/keywatch.go
  internal/httpserve/serveropts/option.go
  internal/httpserve/serveropts/options_test.go
  internal/httpserve/serveropts/secretmanager.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
Labels: enhancement, httpserve, graphapi, config

#829 bug: keep cookies, send header via gqlgen interceptor
  cmd/cli/cmd/client.go
  pkg/openlaneclient/client.go
  pkg/openlaneclient/config.go
  pkg/openlaneclient/csrf.go
  pkg/openlaneclient/interceptor.go
  pkg/openlaneclient/options.go
  pkg/openlaneclient/restclient.go
Labels: bug, cli, coreclient

#831 fix: README update, disbale-csrf from cli, skipperfunc
  README.md
  cmd/cli/cmd/client.go
  cmd/cli/cmd/root.go
  cmd/serve.go
  config/config.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/route/acmesolver.go
  internal/httpserve/route/base.go
  internal/httpserve/route/router.go
  internal/httpserve/server/server_test.go
  internal/httpserve/serveropts/option.go
  pkg/middleware/csrf/config.go
Labels: cli, httpserve, config

#834 feat: don't panic if config yaml isn't there, just warn
  config/config.go
Labels: enhancement, config

#850 feat: clone controls via standard ID
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/control_test.go
  internal/graphapi/controlextended.resolvers.go
  internal/graphapi/generated/controlextended.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/model/gen_models.go
  internal/graphapi/schema/controlextended.graphql
  pkg/openlaneclient/models.go
Labels: enhancement, graphqlschema, graphapi, coreclient

#854 fix: fix nil pointer panic
  internal/graphapi/metrics.go
  pkg/testutils/client.go
Labels: graphapi

#857 fix: hard delete needs to delete tuples first
  internal/graphapi/groupmembership.resolvers.go
  internal/graphapi/orgmembers_test.go
  internal/graphapi/orgmembership.resolvers.go
  internal/graphapi/programmembership.resolvers.go
Labels: bug, graphapi

#871 Bump gqlgen-plugins
  go.mod
  go.sum
Labels: bug

#873 ensure orgID is set in JWT for verify path
  internal/httpserve/authmanager/authmanager.go
  internal/httpserve/handlers/verify_test.go
Labels: bug, httpserve

#875 little friday afternoon hacking
  cmd/serve.go
  config/.env.example
  config/config.example.yaml
  config/config.go
  config/configmap.yaml
  config/new_subscriber.tmpl
  internal/ent/hooks/event.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
Labels: enhancement, config

#878 feat: add config to set json vs. pretty log, set level
  cmd/serve.go
  config/.env.example
  config/config.example.yaml
  config/config.go
  config/configmap.yaml
  internal/httpserve/server/basicserver_test.go
  internal/httpserve/server/server.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
Labels: enhancement, httpserve, config

#890 fix decrypt in totpvalidate test to use AES-GCM like the updated library does
  go.mod
  go.sum
  internal/httpserve/handlers/tfavalidate_test.go
Labels: enhancement, httpserve

#906 bug-fix slack templates
  cmd/cli/Taskfile.yaml
  internal/ent/hooks/event.go
Labels: bug, cli

#907 bug: reduce complexity of org query
  internal/graphapi/query/organization.graphql
  pkg/openlaneclient/graphclient.go
Labels: bug, graphapi, coreclient

#919 feat: ability to set http only in CSRF config
  config/.env.example
  config/config.example.yaml
  config/configmap.yaml
  internal/graphapi/query/organization.graphql
  jsonschema/api-docs.md
  jsonschema/core.config.json
  pkg/middleware/csrf/config.go
  pkg/openlaneclient/graphclient.go
Labels: enhancement, graphapi, coreclient, config

#921 set default to false, thats what we generally want
  config/.env.example
  config/config.example.yaml
  config/configmap.yaml
  pkg/middleware/csrf/config.go
Labels: enhancement, config

#916 feat - TODO: add disk option to object store
  pkg/objects/storage/disk.go
  pkg/objects/storage/errors.go
Labels: enhancement

#913 bug - fix mime type syntax, typo
  README.md
  internal/graphapi/directives/directives.go
  internal/middleware/objects/validator.go
Labels: bug, graphapi

#925 deps: upgrade iam vo v0.13.2, cookie config settings
  config/.env.example
  config/config-dev.example.yaml
  config/config.example.yaml
  config/configmap.yaml
  go.mod
  go.sum
  internal/httpserve/serveropts/option.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
Labels: httpserve, config, dependencies
