Repository theopenlane/core, pull requests merged in 2025-02, with the labels that each got.

#429 bug: org names should be unique, case insensitive
  .buildkite/pipeline.yaml
  atlas.hcl
  db/Taskfile.yaml
  db/atlas.hcl
  db/baseline/extensions.sql
  db/create_migrations.go
  db/migrations-goose-postgres/20250204175356_unique_name_citext.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20250204175354_unique_name_citext.sql
  db/migrations/atlas.sum
  internal/ent/generated/contact/contact.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/hooks/contact.go
  internal/ent/hooks/entity.go
  internal/ent/hooks/group.go
  internal/ent/hooks/organization.go
  internal/ent/hooks/subscriber.go
  internal/ent/hooks/user.go
  internal/ent/schema/contact.go
  internal/ent/schema/entity.go
  internal/ent/schema/entitytype.go
  internal/ent/schema/group.go
  internal/ent/schema/organization.go
  internal/ent/validator/specialcharacter.go
  internal/ent/validator/specialcharacter_test.go
  internal/entdb/client.go
  internal/graphapi/contact_test.go
  internal/graphapi/entity_test.go
  internal/graphapi/group_test.go
  internal/graphapi/models_test.go
  internal/graphapi/organization_test.go
  internal/graphapi/subscriber_test.go
Labels: bug, dbschema, migrations, graphapi, ci

#446 bug: prevents users from updating or deleting their own membership
  internal/ent/generated/groupmembership/groupmembership.go
  internal/ent/generated/orgmembership/orgmembership.go
  internal/ent/generated/programmembership/programmembership.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/hooks/errors.go
  internal/ent/hooks/memberhelpers.go
  internal/ent/hooks/orgmembers.go
  internal/ent/schema/groupmembership.go
  internal/ent/schema/orgmembership.go
  internal/ent/schema/programmembership.go
  internal/graphapi/groupextended.resolvers.go
  internal/graphapi/groupmembers_test.go
  internal/graphapi/orgmembers_test.go
  internal/graphapi/program_test.go
  internal/graphapi/programextended.resolvers.go
  internal/graphapi/programmembers_test.go
Labels: bug, dbschema, graphapi

#456 feat: group visibility, managed group tags
  cmd/cli/cmd/group/create.go
  cmd/cli/cmd/groupsetting/root.go
  fga/model/model.fga
  fga/tests/tests.yaml
  go.mod
  go.sum
  internal/ent/generated/groupsetting/groupsetting.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/hooks/contact.go
  internal/ent/hooks/group.go
  internal/ent/hooks/groupvisibility.go
  internal/ent/hooks/managedgroups.go
  internal/ent/hooks/orgownedtuples.go
  internal/ent/hooks/tfasettings.go
  internal/ent/interceptors/groupsetting.go
  internal/ent/schema/groupsetting.go
  internal/graphapi/group_test.go
  internal/graphapi/task.resolvers.go
  pkg/openlaneclient/config.go
Labels: enhancement, dbschema, cli, authorization, graphapi, coreclient

#465 Feature: initial domain scanning package / subpackages for asset identification and classification
  .golangci.yaml
  .typos.toml
  go.mod
  go.sum
  internal/entdb/client.go
  pkg/sleuth/README.md
  pkg/sleuth/certx/README.md
  pkg/sleuth/certx/certx.go
  pkg/sleuth/certx/doc.go
  pkg/sleuth/certx/models.go
  pkg/sleuth/dnsx/dnsx.go
  pkg/sleuth/dnsx/doc.go
  pkg/sleuth/dnsx/models.go
  pkg/sleuth/dnsx/options.go
  pkg/sleuth/dnsx/printer.go
  pkg/sleuth/dnsx/test/main.go
  pkg/sleuth/doc.go
  pkg/sleuth/ports/README.md
  pkg/sleuth/ports/doc.go
  pkg/sleuth/ports/ports.go
  pkg/sleuth/scripts/README.md
  pkg/sleuth/scripts/script.sh
  pkg/sleuth/scripts/templates/dns-saas-service-detection.yaml
  pkg/sleuth/scripts/templates/mx-service-detector.yaml
  pkg/sleuth/scripts/templates/txt-service-detect.yaml
  pkg/sleuth/spider/doc.go
  pkg/sleuth/spider/options.go
  pkg/sleuth/spider/spider.go
  pkg/sleuth/spider/test/main.go
  pkg/sleuth/static/README.md
  pkg/sleuth/static/config/config.go
  pkg/sleuth/static/config/doc.go
  pkg/sleuth/static/embed.go
  pkg/sleuth/static/lists/placeholder.txt
  pkg/sleuth/static/resolvers/README.md
  pkg/sleuth/static/resolvers/resolvers.txt
  pkg/sleuth/static/takeover/README.md
  pkg/sleuth/static/takeover/fingerprints.json
  pkg/sleuth/static/tech/README.md
  pkg/sleuth/static/tech/categories.json
  pkg/sleuth/static/tech/wappalayzer_fingerprints.json
  pkg/sleuth/static/test/main.go
  pkg/sleuth/static/wordlists/README.md
  pkg/sleuth/sub/config/provider-config.yaml
  pkg/sleuth/sub/doc.go
  pkg/sleuth/sub/enum.go
  pkg/sleuth/sub/options.go
  pkg/sleuth/sub/subfinder.go
  pkg/sleuth/sub/test/main.go
  pkg/sleuth/tech/doc.go
  pkg/sleuth/tech/printer.go
  pkg/sleuth/tech/tech.go
  pkg/sleuth/tech/test/main.go
  sonar-project.properties
Labels: enhancement

#475 feat: restrict org creation to JWT authentication
  internal/graphapi/errors.go
  internal/graphapi/onboarding.resolvers.go
  internal/graphapi/onboarding_test.go
  internal/graphapi/organization.resolvers.go
  internal/graphapi/organization_test.go
Labels: enhancement, graphapi

#484 feat: allow max memory and max size to be configurable on uploads
  config/.env.example
  config/config.example.yaml
  config/configmap.yaml
  internal/httpserve/serveropts/option.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
  jsonschema/schema_generator.go
  pkg/objects/config.go
  pkg/objects/options.go
Labels: enhancement, httpserve, config

#488 feat: url validation for evidence
  internal/ent/generated/evidence/evidence.go
  internal/ent/generated/evidence_create.go
  internal/ent/generated/evidence_update.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/schema/evidence.go
  internal/ent/validator/domain.go
  internal/ent/validator/domain_test.go
  internal/graphapi/evidence_test.go
Labels: enhancement, dbschema, graphapi
