Repository theopenlane/core, pull requests merged in 2025-08, with the labels that each got.

#1075 updates for version 2 goreleaser
  .goreleaser.yaml
Labels: bug

#1077 remove brew, we are using renovate
  .goreleaser.yaml
Labels: bug

#1097 cleanup some flakey tests
  internal/graphapi/control_test.go
  internal/graphapi/task_test.go
  internal/graphapi/tfasetting_test.go
Labels: graphapi

#1114 add homebrew_casks back to goreleaser
  .github/workflows/releaser.yml
  .goreleaser.yaml
Labels: ci

#1118 fix: missing clone of assessment methods
  internal/graphapi/control_clone.go
  internal/graphapi/models_test.go
Labels: bug, graphapi

#1123 Fix sed slashing error by using generic delimiter
  .buildkite/lib/templates.sh
Labels: bug, ci

#1124 feat: export file permissions, missing task commands, enable flag for jobs
  cmd/cli/Taskfile.yaml
  docker/configs/riverboat/.config.dev.yaml
  docker/docker-compose-riverboat.yml
  internal/ent/generated/export/export.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/hooks/authzmutationhelpers.go
  internal/ent/hooks/usertuples.go
  internal/ent/interceptors/file.go
  internal/ent/schema/export.go
  internal/graphapi/customdomain_test.go
  internal/graphapi/errors.go
  internal/graphapi/internalpolicy_test.go
  internal/graphapi/invite_test.go
  internal/graphapi/onboarding_test.go
  internal/graphapi/programextended_test.go
  internal/graphapi/programmembers_test.go
  pkg/corejobs/create_custom_domain.go
  pkg/corejobs/custom_domain_shared.go
  pkg/corejobs/delete_custom_domain.go
  pkg/corejobs/delete_exports.go
  pkg/corejobs/export.go
  pkg/corejobs/export_test.go
  pkg/openlaneclient/interceptor.go
Labels: enhancement, dbschema, local-development, cli, graphapi, coreclient

#1128 gitigore dist dir
  .gitignore
Labels: enhancement

#1136 bug: add owner to managed group iss-296
  Taskfile.yaml
  internal/ent/hooks/managedgroups.go
  internal/graphapi/organization_test.go
Labels: bug, local-development, graphapi

#1137 Fix passkey json parsing
  internal/httpserve/handlers/webauthn.go
  pkg/models/models.go
Labels: bug, httpserve

#1144 Add upload ability to JobResults
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-others-smart
  cmd/cli/cmd/jobresult/create.go
  cmd/cli/cmd/jobresult/update.go
  internal/ent/generated/jobresult/jobresult.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/hooks/jobresult.go
  internal/ent/schema/jobresult.go
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/actionplan.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/jobresult.resolvers.go
  internal/graphapi/query/jobresult.graphql
  internal/graphapi/query/simple/jobresult.graphql
  internal/graphapi/schema/jobresult.graphql
  internal/graphapi/testclient/graphclient.go
  internal/middleware/objects/validator.go
  pkg/corejobs/internal/olclient/mocks/mocks.go
  pkg/openlaneclient/graphclient.go
Labels: enhancement, dbschema, graphqlschema, cli, graphapi, coreclient

#1156 bug: export internalPolicy schema
  go.mod
  go.sum
  internal/ent/generate/entc.go
  internal/ent/generated/export/export.go
  internal/ent/generated/migrate/schema.go
  internal/ent/hooks/exportable_generated.go
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/export_test.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/schema/ent.graphql
  pkg/enums/exportenums/doc.go
  pkg/enums/exportenums/generate.go
  pkg/enums/exporttype.go
Labels: bug, graphqlschema, graphapi, codegenerators

#1159 fix: config map fixes
  config/.env.example
  config/config.example.yaml
  config/configmap.yaml
  config/helm-values.yaml
  internal/ent/entconfig/config.go
  jsonschema/schema_generator.go
Labels: bug, config

#1145 create trust center domain resolver
  cmd/cli/cmd/trustcenterdomain/create.go
  cmd/cli/cmd/trustcenterdomain/doc.go
  cmd/cli/cmd/trustcenterdomain/root.go
  cmd/cli/main.go
  config/.env.example
  config/config.example.yaml
  config/config.go
  config/configmap.yaml
  config/helm-values.yaml
  internal/ent/hooks/custom_domain.go
  internal/ent/interceptors/trustcenter.go
  internal/ent/privacy/policy/checks.go
  internal/ent/privacy/rule/allow_if_system_admin.go
  internal/ent/schema/customdomain.go
  internal/ent/schema/mixin_orgowned.go
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/customdomain_test.go
  internal/graphapi/errors.go
  internal/graphapi/generated/actionplan.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/generated/trustcenterdomain.generated.go
  internal/graphapi/model/gen_models.go
  internal/graphapi/query/simple/trustcenter.graphql
  internal/graphapi/query/simple/trustcenterdomain.graphql
  internal/graphapi/query/trustcenter.graphql
  internal/graphapi/query/trustcenterdomain.graphql
  internal/graphapi/resolver.go
  internal/graphapi/schema/trustcenterdomain.graphql
  internal/graphapi/testclient/graphclient.go
  internal/graphapi/testclient/models.go
  internal/graphapi/trustcenterdomain.resolvers.go
  internal/graphapi/trustcenterdomain_test.go
  internal/httpserve/serveropts/option.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
  pkg/corejobs/internal/olclient/mocks/mocks.go
  pkg/openlaneclient/graphclient.go
  pkg/openlaneclient/models.go
  pkg/testutils/client.go
Labels: dbschema, graphqlschema, cli, httpserve, graphapi, coreclient, config

#1170 add control extended queries to exported client
  internal/graphapi/query/simple/controlextended.graphql
  pkg/corejobs/internal/olclient/mocks/mocks.go
  pkg/openlaneclient/graphclient.go
Labels: enhancement, graphapi, coreclient
