Repository theopenlane/core, pull requests merged in 2025-09, with the labels that each got.

#1175 bug: double content type on graphql requests
  internal/httpserve/route/router.go
  internal/httpserve/serveropts/option.go
  pkg/corejobs/export.go
  pkg/windmill/client.go
Labels: bug, httpserve

#1177 bug: fix whereInput for two work schemas, get 100 at a time, not 2
  internal/graphapi/export_test.go
  pkg/corejobs/export.go
Labels: bug, graphapi

#1185 Add extensions to show the missing module
  go.mod
  go.sum
  internal/ent/hooks/exportable_generated.go
  internal/ent/privacy/rule/modules_test.go
  internal/graphapi/extensions.go
  pkg/objects/parser.go
  pkg/objects/parser_test.go
Labels: enhancement, graphapi

#1180 bug: add user and organization to job for impersonation
  internal/ent/hooks/export.go
  internal/httpserve/serveropts/option.go
Labels: bug, httpserve

#1194 bug: duplicate org modules after sub update fix, adds all fields
  internal/ent/hooks/organization.go
  internal/entitlements/entmapping/mapping.go
  internal/httpserve/handlers/webhook.go
  internal/httpserve/handlers/webhook_helpers.go
  pkg/entitlements/subscriptions.go
Labels: bug, httpserve

#1213 Bump go version
  docker/all-in-one/Dockerfile.all-in-one
  go.mod
  go.work
  internal/ent/privacy/utils/contextchecks.go
  internal/ent/privacy/utils/doc.go
  internal/ent/privacy/utils/utils.go
  internal/httpserve/common/registration.go
  pkg/corejobs/test/common/river.go
Labels: local-development, httpserve

#1250 SSO token authorization
  internal/httpserve/handlers/sso.go
  internal/httpserve/handlers/sso_token.go
  internal/httpserve/route/sso_token.go
Labels: enhancement, httpserve

#1253 update prod catalog struct
  pkg/catalog/gencatalog/gencatalog.go
Labels: enhancement

#1260 fixup anon userid format
  internal/ent/interceptors/filter.go
  internal/graphapi/trustcenter_test.go
  internal/httpserve/authmanager/authmanager.go
  pkg/middleware/auth/auth.go
Labels: httpserve, graphapi

#1265 SSO callbacks always generating sessions for the default org instead of the org being SSO'd
  internal/httpserve/authmanager/authmanager.go
  internal/httpserve/handlers/sso.go
  internal/httpserve/handlers/sso_test.go
  pkg/openapi/models.go
Labels: bug, httpserve

#1278 feat: add missing login + registration metrics
  internal/httpserve/handlers/ent.go
  internal/httpserve/handlers/oauth_login.go
  internal/httpserve/handlers/sso.go
  internal/httpserve/handlers/webauthn.go
  pkg/metrics/helpers.go
Labels: enhancement, httpserve

#1279 Feature tuple updates based off stripe events
  internal/ent/hooks/orgmodule.go
  internal/httpserve/handlers/webhook.go
  internal/httpserve/handlers/webhook_helpers.go
Labels: enhancement, httpserve

#1283 add nda_signed relation when an NDA gets signed
  internal/ent/hooks/documentdata.go
  internal/graphapi/trustcenternda_test.go
Labels: graphapi

#1291 Add sso status to invitations
  internal/httpserve/handlers/invite.go
  pkg/openapi/models.go
Labels: enhancement, httpserve

#1290 Auto-join Organization by Allowed Domain
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-others-smart
  cmd/cli/Taskfile.yaml
  cmd/cli/cmd/organizationsetting/root.go
  cmd/cli/cmd/organizationsetting/update.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/usersetting/usersetting.go
  internal/ent/hooks/usersettings.go
  internal/ent/schema/usersetting.go
Labels: enhancement, dbschema, cli

#1293 no cgo, run on self-hosted
  .github/workflows/releaser.yml
  .goreleaser.yaml
Labels: ci

#1299 trust center re-auth email
  go.mod
  go.sum
  internal/graphapi/trustcenternda_test.go
  internal/graphapi/trustcenterndatmpl.go
Labels: graphapi

#1304 make the font enums more graphql friendly
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/trustcenterwatermarkconfig/trustcenterwatermarkconfig.go
  internal/ent/generated/trustcenterwatermarkconfighistory/trustcenterwatermarkconfighistory.go
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/schema/ent.graphql
  pkg/enums/font.go
Labels: graphqlschema, graphapi

#1305 feat: add email validation on user creation
  cmd/serve.go
  config/.env.example
  config/config.example.yaml
  config/configmap.yaml
  config/helm-values.yaml
  go.mod
  go.sum
  internal/ent/entconfig/config.go
  internal/ent/generate/entc.go
  internal/ent/generated/client.go
  internal/ent/generated/invite/invite.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/user/user.go
  internal/ent/hooks/email.go
  internal/ent/schema/invite.go
  internal/ent/schema/user.go
  internal/ent/validator/email.go
  internal/ent/validator/email_test.go
  internal/httpserve/handlers/register.go
  internal/httpserve/handlers/register_test.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
  pkg/metrics/helpers.go
  pkg/metrics/vars.go
Labels: enhancement, dbschema, httpserve, codegenerators, config

#1311 fix(deps): update module github.com/knadh/koanf/providers/env to v2
  cmd/cli/cmd/root.go
  config/config.go
  go.mod
  go.sum
Labels: cli, config, run-ci

#1310 bug: get metadata as backup from stripe sub, not customer data
  internal/httpserve/handlers/webhook.go
  internal/httpserve/handlers/webhook_helpers.go
Labels: bug, httpserve

#1312 fix: actually update the subscription id if we find it via metadata
  internal/httpserve/handlers/webhook.go
Labels: bug, httpserve
