Repository theopenlane/core, pull requests merged in 2025-07, with the labels that each got.

#917 anonymous JWTs for trust center users + allow view on trust centers
  cmd/cli/cmd/client.go
  cmd/cli/cmd/root.go
  cmd/serve.go
  config/.env.example
  config/config.example.yaml
  config/config.go
  config/configmap.yaml
  go.mod
  go.sum
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/trustcenter/trustcenter.go
  internal/ent/interceptors/trustcenter.go
  internal/ent/interceptors/trustcentersetting.go
  internal/ent/schema/mixin_objectowned.go
  internal/ent/schema/mixin_orgowned.go
  internal/ent/schema/trustcenter.go
  internal/graphapi/control_test.go
  internal/graphapi/controlobjective_test.go
  internal/graphapi/entity_test.go
  internal/graphapi/evidence_test.go
  internal/graphapi/group_test.go
  internal/graphapi/internalpolicy_test.go
  internal/graphapi/narrative_test.go
  internal/graphapi/organization_test.go
  internal/graphapi/procedure_test.go
  internal/graphapi/program_test.go
  internal/graphapi/risk_test.go
  internal/graphapi/standard_test.go
  internal/graphapi/task_test.go
  internal/graphapi/tools_test.go
  internal/graphapi/trustcenter_test.go
  internal/httpserve/authmanager/authmanager.go
  internal/httpserve/handlers/errors.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/handlers/seed_test.go
  internal/httpserve/handlers/trustcenter_anonymousjwt.go
  internal/httpserve/handlers/trustcenter_anonymousjwt_test.go
  internal/httpserve/route/router.go
  internal/httpserve/route/trustcenter_anonymousjwt.go
  internal/httpserve/serveropts/option.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
  pkg/middleware/auth/auth.go
  pkg/middleware/auth/authoptions.go
  pkg/middleware/auth/errors.go
  pkg/models/models.go
Labels: dbschema, cli, httpserve, graphapi, config

#942 feat: add index for subcontrol, bypass expensive checks on clone
  db/migrations-goose-postgres/20250704182805_subcontrol_index.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20250704182801_subcontrol_index.sql
  db/migrations/atlas.sum
  internal/ent/generated/migrate/schema.go
  internal/ent/schema/subcontrol.go
  internal/graphapi/control_clone.go
Labels: enhancement, dbschema, migrations, graphapi

#952 fix: allow host override on fga task file for core api
  fga/Taskfile.yaml
Labels: bug, authorization

#945 Soiree event persistence store(s)
  .pre-commit-config.yaml
  go.mod
  pkg/events/soiree/README.md
  pkg/events/soiree/event.go
  pkg/events/soiree/event_test.go
  pkg/events/soiree/eventpool.go
  pkg/events/soiree/eventpool_test.go
  pkg/events/soiree/examples/panics/main.go
  pkg/events/soiree/examples/redis/main.go
  pkg/events/soiree/listener.go
  pkg/events/soiree/options.go
  pkg/events/soiree/options_test.go
  pkg/events/soiree/pool_test.go
  pkg/events/soiree/redis_metrics.go
  pkg/events/soiree/redis_store.go
  pkg/events/soiree/redis_store_test.go
  pkg/events/soiree/retry_store_test.go
  pkg/events/soiree/soiree.go
  pkg/events/soiree/store.go
Labels: enhancement

#959 deps: entx upgrade, format features
  go.mod
  go.sum
  internal/features/features.go
Labels: dependencies

#963 Revert "fix(deps): update module github.com/knadh/koanf/providers/env to v2"
  cmd/cli/cmd/root.go
  config/config.go
  go.mod
  go.sum
Labels: cli, config, dependencies

#967 disable csrf on login
  internal/httpserve/route/login.go
  pkg/middleware/cors/cors.go
Labels: httpserve

#970 Hook to clean up files from object store on deletion
  internal/ent/generated/file/file.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/hooks/file.go
  internal/ent/schema/file.go
  internal/graphapi/file.resolvers.go
Labels: dbschema, graphapi

#992 Infra Automation + Helm Chart Integration; CI Enhancements
  .buildkite/docker-cleanup.sh
  .buildkite/draft-pr-automation.sh
  .buildkite/helm-automation.sh
  .buildkite/helm-docs-utils.sh
  .buildkite/hooks/README.md
  .buildkite/hooks/environment
  .buildkite/hooks/post-command
  .buildkite/hooks/pre-command
  .buildkite/image-tag-automation.sh
  .buildkite/link-pr-automation.sh
  .buildkite/pipeline.yaml
  .buildkite/post-merge-pr-automation.sh
  .buildkite/slack-utils.sh
  .buildkite/templates/helm-update-notification.json
  .buildkite/templates/pr-ready-notification.json
  .buildkite/templates/release-notification.json
  .buildkite/test-docker-exec.sh
  .buildkite/test-helm-automation.sh
  .buildkite/test-script-execution.sh
  .buildkite/test-simple.sh
  .buildkite/tests/helm-automation.bats
  .buildkite/utils.sh
  config/.env.example
  config/README.md
  config/config.example.yaml
  config/config.go
  config/configmap.yaml
  config/external-secrets/external-secrets.yaml
  config/helm-values.yaml
  config/pushsecrets/core-auth-providers-github-clientsecret.yaml
  config/pushsecrets/core-auth-providers-google-clientsecret.yaml
  config/pushsecrets/core-authz-credentials-apitoken.yaml
  config/pushsecrets/core-authz-credentials-clientsecret.yaml
  config/pushsecrets/core-entconfig-summarizer-llm-gemini-credentialsjson.yaml
  config/pushsecrets/core-keywatcher-secretmanager.yaml
  config/pushsecrets/core-objectstorage-accesskey.yaml
  config/pushsecrets/core-objectstorage-credentialsjson.yaml
  config/pushsecrets/core-objectstorage-secretkey.yaml
  config/pushsecrets/core-server-secretmanager.yaml
  config/pushsecrets/core-slack-webhookurl.yaml
  config/pushsecrets/core-subscription-privatestripekey.yaml
  config/pushsecrets/core-subscription-stripewebhooksecret.yaml
  config/pushsecrets/core-totp-secret.yaml
  internal/ent/entconfig/config.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
  jsonschema/schema_generator.go
  jsonschema/templates/configmap.tmpl
  pkg/entitlements/config.go
  pkg/middleware/cors/cors.go
  pkg/objects/config.go
Labels: enhancement, config, ci

#995 revert list objects for now
  internal/ent/generate/templates/entgql/pagination.tmpl
  internal/ent/generated/gql_pagination.go
  internal/ent/schema/mixin_objectowned.go
  internal/ent/schema/task.go
Labels: bug, dbschema

#1001 fix: missing migration for invite groups
  db/migrations-goose-postgres/20250715165030_invite_groups.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20250715165021_invite_groups.sql
  db/migrations/atlas.sum
Labels: bug, migrations

#1005 Additional CI / buildkite enhancements for smoother Helm integration
  .buildkite/cleanup-draft-prs.sh
  .buildkite/draft-pr-automation.sh
  .buildkite/helm-automation.sh
  .buildkite/lib/common.sh
  .buildkite/lib/helm.sh
  .buildkite/post-merge-pr-automation.sh
  .buildkite/slack-utils.sh
  .buildkite/templates/helm-update-notification.json
  .buildkite/tests/Taskfile.yaml
  .buildkite/tests/cleanup-draft-prs.bats
  .buildkite/tests/draft-pr-automation.bats
  .buildkite/tests/helm-automation.bats
  .buildkite/tests/link-pr-automation.bats
  .buildkite/tests/slack-utils.bats
  Taskfile.yaml
Labels: enhancement, local-development, ci

#1003 bug: allow for core to come-up without windmill configured
  config/config-dev.example.yaml
  internal/httpserve/serveropts/option.go
Labels: bug, httpserve, config

#1006 fix sed for slack message
  .buildkite/slack-utils.sh
  .buildkite/tests/slack-utils.bats
Labels: bug, ci

#1007 remove omit empty
  config/config.example.yaml
  internal/ent/entconfig/config.go
Labels: config

#1008 Address null coreConfiguration in Helm automation
  .buildkite/lib/github.sh
  .buildkite/lib/helm.sh
  .buildkite/slack-utils.sh
  .buildkite/tests/slack-utils.bats
  .typos.toml
  config/helm-values.yaml
  jsonschema/schema_generator.go
Labels: config, ci

#1009 fix - use the right CI script libs
  .buildkite/post-merge-pr-automation.sh
Labels: ci

#1020 Add Taskfile Checksums
  .buildkite/pipeline.yaml
  .gitignore
  .task/checksum/generate-catalog-smart
  .task/checksum/generate-ent-checksums
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-checksums
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-mocks-smart
  .task/checksum/generate-others-checksums
  .task/checksum/generate-others-smart
  .typos.toml
  Taskfile.yaml
Labels: enhancement, local-development, ci

#1019 Cascade delete controls
  fga/model/model.fga
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/standard/standard.go
  internal/ent/hooks/standard.go
  internal/ent/schema/control.go
  internal/ent/schema/standard.go
  internal/graphapi/control_test.go
  internal/graphapi/internalpolicy_test.go
  internal/graphapi/models_test.go
  internal/graphapi/programextended_test.go
  internal/graphapi/standard_test.go
Labels: dbschema, authorization, graphapi

#1021 since these were working before, revert to the previous command synatx
  .buildkite/pipeline.yaml
Labels: ci

#1023 i really hope this is the last one
  .buildkite/lib/templates.sh
Labels: ci

#1026 add river ui to riverboat setup in core
  docker/docker-compose-riverboat.yml
Labels: enhancement, local-development

#1027 attempt to fix bash on draft pr rename
  .buildkite/post-merge-pr-automation.sh
Labels: ci

#1032 Add cli to test job export features
  pkg/corejobs/test/delete_export_job/main.go
  pkg/corejobs/test/export/main.go
Labels: enhancement

#1034 Impersonation Middleware and REST Handlers
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-others-smart
  README.md
  Taskfile.yaml
  cmd/cli/Taskfile.yaml
  config/configmap.yaml
  config/helm-values.yaml
  docs/impersonation.md
  fga/Taskfile.yaml
  go.mod
  go.sum
  internal/httpserve/handlers/impersonation.go
  internal/httpserve/handlers/impersonation_test.go
  internal/httpserve/handlers/openapi.go
  internal/httpserve/route/impersonation.go
  internal/httpserve/route/router.go
  pkg/corejobs/export.go
  pkg/middleware/cors/cors.go
  pkg/middleware/impersonation/doc.go
  pkg/middleware/impersonation/impersonation.go
  pkg/middleware/impersonation/impersonation_test.go
  pkg/models/models.go
  pkg/testutils/impersonation/README.md
  pkg/testutils/impersonation/index.html
Labels: enhancement, local-development, cli, authorization, httpserve, config

#1055 disable test anlaytics upload
  .buildkite/pipeline.yaml
Labels: ci

#1066 Bulk update dependencies
  .buildkite/pipeline.yaml
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-others-smart
  Taskfile.yaml
  config/configmap.yaml
  go.mod
  go.sum
  internal/ent/hooks/tools_test.go
  internal/ent/hush/bench/bench.go
  internal/graphapi/tools_test.go
  internal/httpserve/handlers/tools_test.go
  internal/httpserve/serveropts/option.go
  pkg/testutils/fga/helpers.go
Labels: enhancement, local-development, httpserve, graphapi, config, ci, dependencies
