Repository theopenlane/core, pull requests merged in 2025-05, with the labels that each got.

#683 fix: audit log date
  internal/graphapi/audit.resolvers.go
Labels: bug, graphapi

#684 fixes for new stripe client
  internal/ent/hooks/event.go
  internal/ent/interceptors/orgsubscription.go
  internal/httpserve/handlers/webhook_test.go
  pkg/entitlements/client.go
  pkg/entitlements/customers.go
  pkg/entitlements/errors.go
  pkg/entitlements/helpers.go
  pkg/entitlements/helpers_test.go
  pkg/entitlements/portalsession.go
  pkg/entitlements/prices.go
  pkg/entitlements/products.go
  pkg/entitlements/stripe_test.go
  pkg/entitlements/subscriptions.go
  pkg/entitlements/test/main.go
  pkg/entitlements/tuples.go
Labels: bug, httpserve

#685 deps: update patch deps except iam/jwks
  docker/all-in-one/Dockerfile.all-in-one
  docker/docker-compose-fga.yml
  go.mod
  go.sum
  pkg/openlaneclient/models.go
Labels: local-development, coreclient, dependencies

#687 bug: paginated filtered results
  cmd/cli/cmd/task/get.go
  internal/ent/generate/templates/entgql/pagination.tmpl
  internal/ent/generated/gql_pagination.go
  internal/graphapi/query/task.graphql
  internal/graphapi/task_test.go
  pkg/openlaneclient/graphclient.go
Labels: bug, cli, graphapi, coreclient

#691 update graphapi test utils for jwk v3 compatibility
  .buildkite/pipeline.yaml
  .golangci.yaml
  .pre-commit-config.yaml
  config/config.example.yaml
  go.mod
  go.sum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/prelude.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/generated/scalars.generated.go
  internal/graphapi/schema/scalars.graphql
  internal/httpserve/handlers/handlers.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
  pkg/middleware/auth/authoptions.go
  pkg/objects/.mockery.yaml
  pkg/objects/.mockery.yml
  pkg/objects/mocks/mock_BindFunc.go
  pkg/objects/mocks/mock_ErrResponseHandler.go
  pkg/objects/mocks/mock_NameGeneratorFunc.go
  pkg/objects/mocks/mock_Option.go
  pkg/objects/mocks/mock_SkipperFunc.go
  pkg/objects/mocks/mock_Storage.go
  pkg/objects/mocks/mock_UploadOption.go
  pkg/objects/mocks/mock_UploaderFunc.go
  pkg/objects/mocks/mock_ValidationFunc.go
  pkg/objects/mocks/mocks.go
  pkg/objects/objects.go
  pkg/testutils/auth.go
  pkg/testutils/client.go
Labels: enhancement, graphqlschema, httpserve, graphapi, config, ci

#720 feat: error codes on requests
  internal/ent/hooks/errors.go
  internal/ent/hooks/invite.go
  internal/ent/hooks/subscriber.go
  internal/graphapi/control_test.go
  internal/graphapi/errors.go
  internal/graphapi/gqlerrors/code.go
  internal/graphapi/gqlerrors/doc.go
  internal/graphapi/gqlerrors/errors.go
  internal/graphapi/helpers.go
  internal/graphapi/models_test.go
  internal/graphapi/resolver.go
  internal/graphapi/subscriber_test.go
  internal/graphapi/tools_test.go
  internal/httpserve/handlers/seed_test.go
  pkg/openlaneclient/client.go
  pkg/testutils/client.go
Labels: enhancement, httpserve, graphapi, coreclient

#727 Feat : add standard cloning to other program endpoints
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/control_clone.go
  internal/graphapi/generated/programextended.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/model/gen_models.go
  internal/graphapi/programextended.resolvers.go
  internal/graphapi/programextended_test.go
  internal/graphapi/schema/programextended.graphql
  pkg/openlaneclient/models.go
Labels: enhancement, graphqlschema, graphapi, coreclient

#719 chore: speed up graphapi tests, use gotestsum
  .buildkite/pipeline.yaml
  .gitignore
  .golangci.yaml
  Taskfile.yaml
  go.mod
  internal/graphapi/_example_test.go
  internal/graphapi/apitoken_test.go
  internal/graphapi/auditlog_test.go
  internal/graphapi/contact_test.go
  internal/graphapi/control_test.go
  internal/graphapi/controlimplementation_test.go
  internal/graphapi/controlobjective_test.go
  internal/graphapi/customdomain_test.go
  internal/graphapi/entity_test.go
  internal/graphapi/entitytype_test.go
  internal/graphapi/evidence_test.go
  internal/graphapi/group_test.go
  internal/graphapi/groupmembers_test.go
  internal/graphapi/helpers_test.go
  internal/graphapi/internalpolicy_test.go
  internal/graphapi/invite_test.go
  internal/graphapi/mappabledomain_test.go
  internal/graphapi/models_test.go
  internal/graphapi/narrative_test.go
  internal/graphapi/notes_test.go
  internal/graphapi/onboarding_test.go
  internal/graphapi/organization_test.go
  internal/graphapi/orgmembers_test.go
  internal/graphapi/personalaccesstoken_test.go
  internal/graphapi/procedure_test.go
  internal/graphapi/program_test.go
  internal/graphapi/programextended_test.go
  internal/graphapi/programmembers_test.go
  internal/graphapi/query/entity.graphql
  internal/graphapi/query/group.graphql
  internal/graphapi/query/tfasetting.graphql
  internal/graphapi/risk_test.go
  internal/graphapi/search_test.go
  internal/graphapi/seed_test.go
  internal/graphapi/standard_test.go
  internal/graphapi/subcontrol_test.go
  internal/graphapi/subscriber_test.go
  internal/graphapi/task_test.go
  internal/graphapi/tfasetting_test.go
  internal/graphapi/tools_test.go
  internal/graphapi/user_test.go
  internal/graphapi/usersetting_test.go
  internal/graphapi/webauthn_test.go
  pkg/openlaneclient/graphclient.go
  sonar-project.properties
  tools.go
Labels: local-development, graphapi, coreclient, ci

#733 feat: not implemented status instead of null
  cmd/cli/cmd/control/root.go
  db/migrations-goose-postgres/20250515194418_control_status.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20250515194416_control_status.sql
  db/migrations/atlas.sum
  internal/ent/generated/control/control.go
  internal/ent/generated/controlhistory/controlhistory.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/subcontrol/subcontrol.go
  internal/ent/generated/subcontrolhistory/subcontrolhistory.go
  internal/ent/schema/mixin_controls.go
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/control_test.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/schema/ent.graphql
  pkg/enums/controlstatus.go
  pkg/enums/controlstatus_test.go
Labels: enhancement, dbschema, graphqlschema, migrations, cli, graphapi

#737 custom + mappable domain CLI
  cmd/cli/cmd/customdomain/create.go
  cmd/cli/cmd/customdomain/get.go
  cmd/cli/cmd/customdomain/root.go
  cmd/cli/cmd/customdomain/update.go
  cmd/cli/cmd/mappabledomain/create.go
  cmd/cli/cmd/mappabledomain/root.go
  cmd/cli/main.go
Labels: cli

#738 fix: do not allow controls from system to be linked, require edit
  internal/ent/interceptors/auditlogs.go
  internal/ent/interceptors/filter.go
  internal/ent/schema/mixin_objectowned.go
  internal/graphapi/control_test.go
  internal/graphapi/internalpolicy_test.go
  internal/graphapi/models_test.go
  internal/graphapi/program_test.go
  internal/graphapi/query/internalpolicy.graphql
  pkg/openlaneclient/graphclient.go
Labels: bug, dbschema, graphapi, coreclient

#743 skip graphql publish
  .buildkite/pipeline.yaml
Labels: ci

#744 fix: add missing openapi ref
  internal/httpserve/server/openapi.go
Labels: bug, httpserve

#746 feat: consistently use org display name, instead of name for things like emails
  cmd/cli/cmd/organizationsetting/root.go
  cmd/cli/cmd/usersetting/root.go
  internal/ent/hooks/invite.go
  internal/ent/hooks/subscriber.go
  internal/graphapi/query/organizationsetting.graphql
  internal/httpserve/handlers/email.go
  pkg/openlaneclient/graphclient.go
Labels: enhancement, cli, httpserve, graphapi, coreclient

#750 default control status should now be not implemented, not preparing
  cmd/cli/cmd/subcontrol/create.go
  internal/graphapi/control_clone.go
  internal/graphapi/control_test.go
  internal/graphapi/subcontrol.resolvers.go
  internal/graphapi/subcontrol_test.go
Labels: enhancement, cli, graphapi

#751 fix: set trialExpiresAt for `trialing` status
  cmd/cli/cmd/orgsubscription/root.go
  docker/all-in-one/Dockerfile.all-in-one
  docker/docker-compose-redis.yml
  internal/ent/hooks/event.go
Labels: local-development, cli

#753 bug: fix ability to update permissions on managed group to other objects
  internal/ent/hooks/group.go
  internal/graphapi/group_test.go
  internal/graphapi/query/group.graphql
  pkg/openlaneclient/graphclient.go
Labels: bug, graphapi, coreclient

#757 fix: set default org to personal if no org found
  internal/httpserve/authmanager/authmanager.go
Labels: bug, httpserve

#781 bug: org owners should have edit access to policies and procedures
  fga/model/model.fga
  fga/tests/tests.yaml
  internal/graphapi/internalpolicy_test.go
  internal/httpserve/handlers/acmesolver_test.go
Labels: bug, authorization, httpserve, graphapi

#782 bug: fix panic in dev when you subscriptions are turned off
  internal/ent/interceptors/orgsubscription.go
Labels: bug

#783 feat: move core jobs from riverqueue
  .golangci.yaml
  .typos.toml
  go.mod
  internal/ent/hooks/custom_domain.go
  internal/ent/schema/scheduledjobrun.go
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/schema/ent.graphql
  internal/httpserve/serveropts/server.go
  pkg/corejobs/README.md
  pkg/corejobs/create_custom_domain.go
  pkg/corejobs/create_custom_domain_test.go
  pkg/corejobs/custom_domain_shared.go
  pkg/corejobs/delete_custom_domain.go
  pkg/corejobs/delete_custom_domain_test.go
  pkg/corejobs/doc.go
  pkg/corejobs/errors.go
  pkg/corejobs/internal/.mockery.yml
  pkg/corejobs/internal/cloudflare/client.go
  pkg/corejobs/internal/cloudflare/mocks/mocks.go
  pkg/corejobs/internal/generate.go
  pkg/corejobs/internal/olclient/client.go
  pkg/corejobs/internal/olclient/mocks/mocks.go
  pkg/corejobs/test/common/river.go
  pkg/corejobs/test/create_custom_domain/main.go
  pkg/corejobs/test/delete_custom_domain/main.go
  pkg/corejobs/test/validate_custom_domain/main.go
  pkg/corejobs/validate_custom_domain.go
  pkg/corejobs/validate_custom_domain_test.go
  pkg/summarizer/lexrank_test.go
  pkg/summarizer/llm.go
  sonar-project.properties
Labels: enhancement, dbschema, graphqlschema, httpserve, graphapi

#786 bug: permissions not updated on `removed` edges from groups
  internal/ent/hooks/objectownedtuples.go
  internal/graphapi/internalpolicy_test.go
  internal/graphapi/models_test.go
Labels: bug, graphapi
