Repository theopenlane/core, pull requests merged in 2025-03, with the labels that each got.

#494 update dev example config
  config/config-dev.example.yaml
Labels: config

#497 Update subscription logic to handle personal organizations
  config/.env.example
  config/config.example.yaml
  config/configmap.yaml
  internal/ent/hooks/event.go
  internal/ent/hooks/user.go
  internal/graphapi/query/organization.graphql
  jsonschema/api-docs.md
  jsonschema/core.config.json
  pkg/entitlements/config.go
  pkg/entitlements/customers.go
  pkg/entitlements/models.go
  pkg/entitlements/subscriptions.go
  pkg/openlaneclient/graphclient.go
Labels: bug, graphapi, coreclient, config

#502 deps: go 1.24 upgrade
  go.mod
Labels: dependencies

#517 bug: use field not variable name to skip upload input, task bulk create via
  cmd/cli/cmd/task/create.go
  cmd/cli/cmd/task/root.go
  internal/graphapi/helpers.go
  internal/graphutils/graphql.go
  internal/middleware/objects/middleware.go
Labels: bug, cli, graphapi

#510 add log to org interceptor so I dont have to chase this again
  internal/ent/schema/mixin_orgowned.go
Labels: dbschema

#522 Host example CSV files
  go.mod
  go.sum
  internal/graphapi/generate/gen_gqlgen.go
  internal/httpserve/handlers/csv/sample_actionplan.csv
  internal/httpserve/handlers/csv/sample_apitoken.csv
  internal/httpserve/handlers/csv/sample_contact.csv
  internal/httpserve/handlers/csv/sample_control.csv
  internal/httpserve/handlers/csv/sample_controlimplementation.csv
  internal/httpserve/handlers/csv/sample_controlobjective.csv
  internal/httpserve/handlers/csv/sample_documentdata.csv
  internal/httpserve/handlers/csv/sample_entity.csv
  internal/httpserve/handlers/csv/sample_entitytype.csv
  internal/httpserve/handlers/csv/sample_event.csv
  internal/httpserve/handlers/csv/sample_group.csv
  internal/httpserve/handlers/csv/sample_groupmembership.csv
  internal/httpserve/handlers/csv/sample_groupsetting.csv
  internal/httpserve/handlers/csv/sample_hush.csv
  internal/httpserve/handlers/csv/sample_integration.csv
  internal/httpserve/handlers/csv/sample_internalpolicy.csv
  internal/httpserve/handlers/csv/sample_invite.csv
  internal/httpserve/handlers/csv/sample_mappedcontrol.csv
  internal/httpserve/handlers/csv/sample_narrative.csv
  internal/httpserve/handlers/csv/sample_organizationsetting.csv
  internal/httpserve/handlers/csv/sample_orgmembership.csv
  internal/httpserve/handlers/csv/sample_procedure.csv
  internal/httpserve/handlers/csv/sample_program.csv
  internal/httpserve/handlers/csv/sample_programmembership.csv
  internal/httpserve/handlers/csv/sample_risk.csv
  internal/httpserve/handlers/csv/sample_subcontrol.csv
  internal/httpserve/handlers/csv/sample_subscriber.csv
  internal/httpserve/handlers/csv/sample_task.csv
  internal/httpserve/handlers/csv/sample_template.csv
  internal/httpserve/handlers/csv/sample_usersetting.csv
  internal/httpserve/handlers/examplecsv.go
  internal/httpserve/route/router.go
  internal/httpserve/route/static.go
  pkg/models/models.go
Labels: enhancement, httpserve, graphapi

#523 bug: object owned objects with org owners should filter on organzation
  internal/ent/generated/control/control.go
  internal/ent/generated/controlobjective/controlobjective.go
  internal/ent/generated/documentdata/documentdata.go
  internal/ent/generated/evidence/evidence.go
  internal/ent/generated/narrative/narrative.go
  internal/ent/generated/note/note.go
  internal/ent/generated/risk/risk.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/subcontrol/subcontrol.go
  internal/ent/generated/task/task.go
  internal/ent/schema/entity.go
  internal/ent/schema/entitytype.go
  internal/ent/schema/invite.go
  internal/ent/schema/mixin_objectowned.go
  internal/ent/schema/mixin_orgowned.go
  internal/ent/schema/mixin_userowned.go
  internal/ent/schema/subscriber.go
  internal/ent/schema/template.go
  internal/graphapi/control_test.go
  internal/graphapi/controlobjective_test.go
  internal/graphapi/evidence_test.go
  internal/graphapi/narrative_test.go
  internal/graphapi/procedure_test.go
  internal/graphapi/task_test.go
Labels: bug, dbschema, graphapi

#529 feat: search updates
  go.mod
  go.sum
  internal/ent/generated/runtime/runtime.go
  internal/ent/privacy/rule/allow_if_system_admin.go
  internal/graphapi/adminsearch.resolvers.go
  internal/graphapi/generate/gen_gqlgen.go
  internal/graphapi/resolver.go
  internal/graphapi/search.go
  internal/graphapi/search.resolvers.go
Labels: enhancement, graphapi

#533 feat: remove validator on display name, default to first and last name if available
  internal/ent/generated/runtime/runtime.go
  internal/ent/hooks/user.go
  internal/ent/schema/user.go
  internal/httpserve/handlers/register_test.go
Labels: enhancement, dbschema, httpserve

#532 allow for bigger drift to help with flakey tests running slow in CI
  internal/graphapi/evidence_test.go
  internal/graphapi/invite_test.go
  internal/graphapi/program_test.go
  internal/httpserve/handlers/ent_test.go
Labels: httpserve, graphapi

#543 update max list objects for docker container
  docker/docker-compose-fga.yml
Labels: local-development

#548 add cors to mw for tests, add * to config, echox update
  config/config-dev.example.yaml
  go.mod
  go.sum
  internal/httpserve/handlers/tools_test.go
  internal/httpserve/serveropts/option.go
  pkg/middleware/cors/cors.go
Labels: bug, httpserve, config

#552 feat: standard description should be TEXT
  db/migrations-goose-postgres/20250324160356_standard_description.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20250324160353_standard_description.sql
  db/migrations/atlas.sum
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/standard.go
  internal/ent/generated/standardhistory.go
  internal/ent/schema/standard.go
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/schema/ent.graphql
  pkg/openlaneclient/models.go
Labels: enhancement, dbschema, graphqlschema, migrations, graphapi, coreclient

#553 revert echox
  go.mod
  go.sum
Labels: dependencies

#557 bug: fix base schema template
  internal/ent/base/entinit.tmpl
Labels: enhancement

#559 bug: fix bulk create invites for resend
  internal/graphapi/invite.resolvers.go
  internal/graphapi/invite_test.go
Labels: bug, graphapi

#561 feat: sort fields for controls, documents
  internal/ent/generated/gql_pagination.go
  internal/ent/mixin/revision_mixin.go
  internal/ent/schema/control.go
  internal/ent/schema/mixin_document.go
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/schema/ent.graphql
  pkg/openlaneclient/models.go
Labels: enhancement, mixin, dbschema, graphqlschema, graphapi, coreclient

#562 provide attribution
  pkg/objects/README.md
Labels: enhancement

#563 bug: omit satisfies, just use CollectFields directly
  internal/graphapi/actionplan.resolvers.go
  internal/graphapi/apitoken.resolvers.go
  internal/graphapi/contact.resolvers.go
  internal/graphapi/control.resolvers.go
  internal/graphapi/controlimplementation.resolvers.go
  internal/graphapi/controlobjective.resolvers.go
  internal/graphapi/documentdata.resolvers.go
  internal/graphapi/ent.resolvers.go
  internal/graphapi/entity.resolvers.go
  internal/graphapi/entitytype.resolvers.go
  internal/graphapi/event.resolvers.go
  internal/graphapi/evidence.resolvers.go
  internal/graphapi/file.resolvers.go
  internal/graphapi/group.resolvers.go
  internal/graphapi/groupextended.resolvers.go
  internal/graphapi/groupmembership.resolvers.go
  internal/graphapi/groupsetting.resolvers.go
  internal/graphapi/hush.resolvers.go
  internal/graphapi/integration.resolvers.go
  internal/graphapi/internalpolicy.resolvers.go
  internal/graphapi/invite.resolvers.go
  internal/graphapi/mappedcontrol.resolvers.go
  internal/graphapi/narrative.resolvers.go
  internal/graphapi/note.resolvers.go
  internal/graphapi/onboarding.resolvers.go
  internal/graphapi/organization.resolvers.go
  internal/graphapi/organizationsetting.resolvers.go
  internal/graphapi/orgextended.resolvers.go
  internal/graphapi/orgmembership.resolvers.go
  internal/graphapi/orgsubscription.resolvers.go
  internal/graphapi/personalaccesstoken.resolvers.go
  internal/graphapi/procedure.resolvers.go
  internal/graphapi/program.resolvers.go
  internal/graphapi/programextended.resolvers.go
  internal/graphapi/programmembership.resolvers.go
  internal/graphapi/risk.resolvers.go
  internal/graphapi/standard.resolvers.go
  internal/graphapi/standard_test.go
  internal/graphapi/subcontrol.resolvers.go
  internal/graphapi/subscriber.resolvers.go
  internal/graphapi/task.resolvers.go
  internal/graphapi/template.resolvers.go
  internal/graphapi/tfasetting.resolvers.go
  internal/graphapi/user.resolvers.go
  internal/graphapi/usersetting.resolvers.go
Labels: bug, graphapi

#568 Echo log wrapper, context logger, middleware
  cmd/root.go
  cmd/serve.go
  go.mod
  go.sum
  internal/ent/hooks/apitoken.go
  internal/ent/hooks/authzmutationhelpers.go
  internal/ent/hooks/event.go
  internal/ent/hooks/group.go
  internal/ent/hooks/helpers.go
  internal/ent/hooks/invite.go
  internal/ent/hooks/managedgroups.go
  internal/ent/hooks/memberhelpers.go
  internal/ent/hooks/objectownedtuples.go
  internal/ent/hooks/organization.go
  internal/ent/hooks/organizationsetting.go
  internal/ent/hooks/orgmembers.go
  internal/ent/hooks/orgownedtuples.go
  internal/ent/hooks/program.go
  internal/ent/hooks/programmembers.go
  internal/ent/hooks/sessions.go
  internal/ent/hooks/subscriber.go
  internal/ent/hooks/task.go
  internal/ent/hooks/tfasettings.go
  internal/ent/hooks/user.go
  internal/ent/interceptors/file.go
  internal/ent/interceptors/filter.go
  internal/ent/interceptors/orgsubscription.go
  internal/ent/interceptors/query.go
  internal/genhelpers/logger.go
  internal/httpserve/route/pprof.go
  internal/httpserve/route/router.go
  internal/httpserve/server/server.go
  internal/httpserve/server/stacktrace.go
  internal/httpserve/serveropts/option.go
  pkg/entitlements/customers.go
  pkg/entitlements/subscriptions.go
  pkg/events/soiree/event.go
  pkg/logx/README.md
  pkg/logx/consolelog/README.md
  pkg/logx/consolelog/consolelog.go
  pkg/logx/consolelog/consolelog_test.go
  pkg/logx/consolelog/example_test.go
  pkg/logx/context.go
  pkg/logx/context_test.go
  pkg/logx/doc.go
  pkg/logx/levels.go
  pkg/logx/logger.go
  pkg/logx/logger_test.go
  pkg/logx/middleware.go
  pkg/logx/middleware_test.go
  pkg/logx/options.go
  pkg/logx/options_test.go
  pkg/logx/pzlog/pzlog.go
  pkg/middleware/auth/auth.go
  pkg/middleware/debug/bodydump.go
  pkg/openlaneclient/client.go
Labels: enhancement, httpserve, coreclient

#571 feat: configurable max age, iam upgrade
  config/.env.example
  config/config.example.yaml
  config/configmap.yaml
  go.mod
  go.sum
  internal/ent/generate/entc.go
  internal/ent/generated/client.go
  internal/ent/hooks/tfasettings.go
  internal/graphapi/tfahelpers.go
  internal/graphapi/tools_test.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/handlers/tfavalidate.go
  internal/httpserve/handlers/tools_test.go
  internal/httpserve/serveropts/option.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
  pkg/logx/middleware.go
Labels: enhancement, httpserve, graphapi, codegenerators, config

#573 return 401, instead of 400 for unauth requests
  pkg/middleware/auth/auth.go
Labels: enhancement

#572 Add filtering options to pat and apitoken queries
  internal/ent/generated/gql_pagination.go
  internal/ent/schema/apitoken.go
  internal/ent/schema/personalaccesstoken.go
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/schema/ent.graphql
  pkg/openlaneclient/models.go
Labels: dbschema, graphqlschema, graphapi, coreclient, run-ci
