Repository theopenlane/core, pull requests merged in 2025-04, with the labels that each got.

#580 add name and is_active to api tokens filter fields
  internal/ent/generated/gql_pagination.go
  internal/ent/schema/apitoken.go
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/schema/ent.graphql
  pkg/openlaneclient/models.go
Labels: dbschema, graphqlschema, graphapi, coreclient, run-ci

#582 feat: add program id to control on clone
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/control_test.go
  internal/graphapi/controlextended.resolvers.go
  internal/graphapi/generated/controlextended.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/model/gen_models.go
  internal/graphapi/query/controlextended.graphql
  internal/graphapi/schema/controlextended.graphql
  pkg/openlaneclient/graphclient.go
  pkg/openlaneclient/models.go
Labels: enhancement, graphqlschema, graphapi, coreclient

#576 update openapi spec for cloudflare
  internal/httpserve/handlers/acccountrolesorganization.go
  internal/httpserve/handlers/openapi.go
  internal/httpserve/handlers/verifyemail.go
  internal/httpserve/handlers/verifysubscribe.go
  internal/httpserve/server/openapi.go
Labels: enhancement, httpserve

#587 make org name less flakey on duplicates
  internal/graphapi/models_test.go
Labels: bug, graphapi

#590 update interceptor and add additional urls
  config/.env.example
  config/config.example.yaml
  config/configmap.yaml
  internal/ent/interceptors/orgsubscription.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
  pkg/entitlements/config.go
  pkg/entitlements/customers.go
  pkg/entitlements/helpers.go
  pkg/entitlements/models.go
  pkg/entitlements/portalsession.go
  pkg/entitlements/prices.go
  pkg/entitlements/products.go
  pkg/entitlements/stripe_test.go
  pkg/entitlements/subscriptions.go
  pkg/entitlements/test/customer_subscription_paused.json
  pkg/entitlements/test/customer_subscription_updated.json
  pkg/entitlements/test/fixtures.json
  pkg/entitlements/test/main.go
  pkg/entitlements/test/payment_method_attached.json
  pkg/entitlements/test/plans.yaml
  pkg/entitlements/test/trial_will_end.json
  pkg/entitlements/test/tuples.yaml
  pkg/entitlements/tuples.go
Labels: enhancement, config

#591 simplify policy validation by using internal context for tests
  internal/ent/hooks/usersettings.go
  internal/ent/interceptors/filter.go
  internal/ent/interceptors/user.go
  internal/ent/interceptors/usersetting.go
  internal/ent/privacy/policy/base.go
  internal/ent/privacy/rule/internal.go
  internal/ent/privacy/rule/organization.go
  internal/graphapi/models_test.go
  internal/httpserve/authmanager/authmanager.go
Labels: httpserve, graphapi

#595 feat: control implementation tests + fixes
  cmd/cli/cmd/control/create.go
  cmd/cli/cmd/control/root.go
  cmd/cli/cmd/control/update.go
  cmd/cli/cmd/controlimplementation/create.go
  cmd/cli/cmd/controlimplementation/delete.go
  cmd/cli/cmd/controlimplementation/doc.go
  cmd/cli/cmd/controlimplementation/get.go
  cmd/cli/cmd/controlimplementation/root.go
  cmd/cli/cmd/controlimplementation/update.go
  cmd/cli/cmd/controlimplementationhistory/doc.go
  cmd/cli/cmd/controlimplementationhistory/get.go
  cmd/cli/cmd/controlimplementationhistory/root.go
  cmd/cli/cmd/subcontrol/create.go
  cmd/cli/cmd/subcontrol/update.go
  cmd/cli/main.go
  fga/model/model.fga
  internal/ent/generated/controlimplementation/controlimplementation.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/hooks/controlimplementation.go
  internal/ent/schema/controlimplementation.go
  internal/graphapi/control_test.go
  internal/graphapi/controlimplementation.resolvers.go
  internal/graphapi/controlimplementation_test.go
  internal/graphapi/models_test.go
  internal/graphapi/query/control.graphql
  internal/graphapi/query/controlimplementation.graphql
  pkg/enums/controlstatus.go
  pkg/enums/controlstatus_test.go
  pkg/openlaneclient/graphclient.go
  sonar-project.properties
Labels: enhancement, dbschema, cli, authorization, graphapi, coreclient

#608 update pipeline to trigger core-deploy builds
  .buildkite/pipeline.yaml
Labels: enhancement, ci

#610 Fix trigger syntax
  .buildkite/pipeline.yaml
Labels: enhancement, ci

#611 use CORE_TAG instead for the pipeline trigger
  .buildkite/pipeline.yaml
Labels: bug, ci

#614 allow to run linting locally on files that have changed only
  Taskfile.yaml
Labels: enhancement, local-development

#616 Feat prom
  config/.env.example
  config/config.example.yaml
  config/config.go
  config/configmap.yaml
  go.mod
  go.sum
  internal/ent/hooks/metrics.go
  internal/entdb/client.go
  internal/httpserve/route/base.go
  internal/httpserve/route/router.go
  internal/httpserve/server/server.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
  pkg/metrics/doc.go
  pkg/metrics/metrics.go
  pkg/metrics/vars.go
Labels: enhancement, httpserve, config

#605 tests for the notes/comments feature
  fga/Taskfile.yaml
  fga/model/model.fga
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/actionplan.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/models_test.go
  internal/graphapi/note.resolvers.go
  internal/graphapi/notes_test.go
  internal/graphapi/query/task.graphql
  internal/graphapi/schema/note.graphql
  internal/graphapi/task_test.go
  pkg/openlaneclient/graphclient.go
Labels: enhancement, graphqlschema, authorization, graphapi, coreclient

#617 Make go:lint task much smarter
  Taskfile.yaml
Labels: enhancement, local-development

#622 Trigger step should depend on tagging docker image not the build step
  .buildkite/pipeline.yaml
Labels: bug, ci

#625 Update README.md
  README.md
Labels: enhancement

#627 Fix flakey tests by making sure org name matches spec
  internal/graphapi/models_test.go
Labels: bug, graphapi

#626 Send welcome email on sign up
  internal/ent/hooks/invite.go
  internal/ent/hooks/organization.go
  internal/httpserve/handlers/invite_test.go
Labels: enhancement, httpserve

#634 Add tests for bulk creation of subscribers
  internal/graphapi/subscriber_test.go
Labels: enhancement, graphapi

#635 move pprof to metrics port
  internal/httpserve/route/pprof.go
  internal/httpserve/route/router.go
  pkg/metrics/metrics.go
Labels: enhancement, httpserve

#636 Passkeys registration and login
  internal/ent/hooks/usersettings.go
  internal/httpserve/handlers/auth_type.go
  internal/httpserve/handlers/auth_type_test.go
  internal/httpserve/handlers/ent.go
  internal/httpserve/handlers/login.go
  internal/httpserve/handlers/webauthn.go
  internal/httpserve/route/login.go
  internal/httpserve/route/router.go
  pkg/models/models.go
Labels: enhancement, httpserve

#640 passkeys improvements and removal of enumeration
  internal/httpserve/handlers/auth_type.go
  internal/httpserve/handlers/auth_type_test.go
  internal/httpserve/handlers/webauthn.go
  internal/httpserve/route/login.go
  internal/httpserve/route/router.go
  pkg/models/models.go
Labels: enhancement, httpserve

#641 bug: fixes issue where default org was not updated when subscription expired
  internal/httpserve/authmanager/authmanager.go
  internal/httpserve/handlers/login_test.go
Labels: bug, httpserve

#643 add /.well-known/webauthn route
  internal/httpserve/route/router.go
  internal/httpserve/route/static.go
  internal/httpserve/route/webauthn
  internal/httpserve/route/wellknown.go
Labels: enhancement, httpserve

#644 openfga request latency per endpoint metrics; entitlements package metrics
  Taskfile.yaml
  docker/Taskfile.yaml
  docker/all-in-one/docker_entrypoint.sh
  docker/configs/alertmanager/alertmanager.yml
  docker/configs/grafana/dashboards/kafka-metrics.json
  docker/configs/grafana/dashboards/stripe.json
  docker/configs/prometheus/alerts/node.rules
  docker/configs/prometheus/prometheus.yml
  docker/docker-compose-fga.yml
  docker/docker-compose-kafka.yml
  docker/docker-compose-prometheus.yml
  docker/envoy.yaml
  pkg/entitlements/customers.go
  pkg/entitlements/metrics.go
  pkg/entitlements/subscriptions.go
Labels: enhancement, local-development

#645 stripe webhook updates; additional ent and webhook metrics
  internal/ent/hooks/metrics.go
  internal/ent/interceptors/orgsubscription.go
  internal/httpserve/authmanager/authmanager.go
  internal/httpserve/handlers/tools_test.go
  internal/httpserve/handlers/webhook.go
  internal/httpserve/handlers/webhook_test.go
Labels: enhancement, httpserve

#649 feat: add back subscriber +org member resolver bulk owner
  internal/graphapi/orgmembership.resolvers.go
  internal/graphapi/subscriber.resolvers.go
Labels: enhancement, graphapi

#651 bug: fix missing fga types, add audit log sanity test
  fga/model/model.fga
  internal/graphapi/auditlog_test.go
  internal/graphapi/query/auditlog.graphql
  pkg/openlaneclient/graphclient.go
Labels: bug, authorization, graphapi, coreclient

#652 Bug: allow for same passkey to be used for multiple accounts
  db/migrations-goose-postgres/20250421141007_aauid_not_unique_per_machine.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20250421141003_aauid_not_unique_per_machine.sql
  db/migrations/atlas.sum
  internal/ent/generated/migrate/schema.go
  internal/ent/schema/webauthn.go
Labels: bug, dbschema, migrations

#655 lightweight and simple cli to generate enums
  cmd/cli/Taskfile.yaml
  pkg/genenum/cmd/main.go
  pkg/genenum/cmd/templates/enums.tmpl
Labels: enhancement, cli

#657 fix: fix quote, cleanup example config
  config/config-dev.example.yaml
Labels: config

#662 fix: add missing migrations
  db/migrations-goose-postgres/20250424223710_program_type_task_description.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20250424223708_program_type_task_description.sql
  db/migrations/atlas.sum
Labels: migrations

#669 Prevent invalid datetime from being sent to clients
  pkg/models/date.go
Labels: bug

#672 bug: fix updating default org for non-owners of org
  internal/ent/hooks/usersettings.go
  internal/graphapi/usersetting_test.go
Labels: bug, graphapi

#675 bug: do not evaluate STORE_ID by default
  fga/Taskfile.yaml
Labels: bug, authorization

#676 Handle org deletion and subscription cancellation / deletion scenarios
  .buildkite/pipeline.yaml
  .pre-commit-config.yaml
  .trivyignore
  go.mod
  go.sum
  internal/ent/hooks/event.go
  internal/ent/hooks/organization.go
  internal/httpserve/handlers/webhook.go
  internal/httpserve/handlers/webhook_test.go
  pkg/entitlements/README.md
  pkg/entitlements/client.go
  pkg/entitlements/customers.go
  pkg/entitlements/customers_test.go
  pkg/entitlements/helpers.go
  pkg/entitlements/helpers_test.go
  pkg/entitlements/mocks/stripe.go
  pkg/entitlements/models.go
  pkg/entitlements/portalsession.go
  pkg/entitlements/prices.go
  pkg/entitlements/products.go
  pkg/entitlements/stripe_test.go
  pkg/entitlements/subscriptions.go
Labels: enhancement, httpserve, ci
