Repository theopenlane/core, pull requests merged in 2025-01, with the labels that each got.

#352 feat: rover publish graph schema on tagged releases
  .buildkite/pipeline.yaml
Labels: enhancement, ci

#355 Feat stripe webhook receiver
  .pre-commit-config.yaml
  internal/httpserve/handlers/ent.go
  internal/httpserve/handlers/errors.go
  internal/httpserve/handlers/webhook.go
  internal/httpserve/route/router.go
  internal/httpserve/route/webhook.go
  internal/httpserve/serveropts/option.go
  pkg/entitlements/README.md
  pkg/entitlements/client.go
  pkg/entitlements/customers.go
  pkg/entitlements/events.go
  pkg/entitlements/models.go
  pkg/entitlements/subscriptions.go
Labels: enhancement, httpserve

#358 group renovate patch updates
  renovate.json
Labels: dependencies

#374 new year
  .pre-commit-config.yaml
  LICENSE
  pkg/gencmd/generate/cmd/root.go
Labels: enhancement

#377 go version
  go.mod
Labels: enhancement

#376 feat: apollo linter
  .buildkite/pipeline.yaml
Labels: enhancement, ci

#381 bug: fix missing feature in subscriptions
  pkg/entitlements/subscriptions.go
Labels: bug, enhancement

#400 fix up openapi spec, add security requirements, add webauthn
  internal/httpserve/handlers/acccountaccess.go
  internal/httpserve/handlers/acccountroles.go
  internal/httpserve/handlers/acccountrolesorganization.go
  internal/httpserve/handlers/forgotpassword.go
  internal/httpserve/handlers/invite.go
  internal/httpserve/handlers/login.go
  internal/httpserve/handlers/openapi.go
  internal/httpserve/handlers/refresh.go
  internal/httpserve/handlers/register.go
  internal/httpserve/handlers/resendemail.go
  internal/httpserve/handlers/resetpassword.go
  internal/httpserve/handlers/switch.go
  internal/httpserve/handlers/tfavalidate.go
  internal/httpserve/handlers/verifyemail.go
  internal/httpserve/handlers/verifysubscribe.go
  internal/httpserve/handlers/webauthn.go
  internal/httpserve/server/openapi.go
  pkg/models/models.go
Labels: enhancement, httpserve

#403 feat: qr code on create, recovery codes on verification of device
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/tfasetting/tfasetting.go
  internal/ent/hooks/tfasettings.go
  internal/ent/schema/tfasetting.go
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/actionplan.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/generated/tfasetting.generated.go
  internal/graphapi/model/gen_models.go
  internal/graphapi/models_test.go
  internal/graphapi/query/tfasetting.graphql
  internal/graphapi/schema/tfaextended.graphql
  internal/graphapi/tfahelpers.go
  internal/graphapi/tfasetting.resolvers.go
  internal/graphapi/tfasetting_test.go
  pkg/openlaneclient/graphclient.go
  pkg/openlaneclient/models.go
Labels: enhancement, dbschema, graphqlschema, graphapi, coreclient

#405 fix: remove invalid stripeID from org settings schema
  internal/graphapi/generated/schema.graphql
Labels: bug, graphapi

#407 bug:org owner access to compliance objects
  fga/model/model.fga
  internal/ent/hooks/authzmutationhelpers.go
  internal/ent/hooks/authzmutationhelpers_test.go
  internal/ent/hooks/group.go
  internal/ent/hooks/objectownedtuples.go
  internal/ent/hooks/organization.go
  internal/ent/hooks/orgownedtuples.go
  internal/ent/hooks/program.go
  internal/ent/hooks/task.go
  internal/ent/schema/mixin_orgowned.go
  internal/graphapi/control_test.go
  internal/graphapi/controlobjective_test.go
  internal/graphapi/narrative_test.go
  internal/graphapi/risk_test.go
  internal/graphapi/subcontrol_test.go
Labels: bug, dbschema, authorization, graphapi

#406 bug: switch back to 20250106.725 version of runner
  .github/workflows/releaser.yml
Labels: bug, ci

#408 Revert "bug: switch back to 20250106.725 version of runner"
  .github/workflows/releaser.yml
Labels: bug, ci

#409 bug: don't check if tfa is enabled on validate, this prevents validation on setup
  internal/httpserve/handlers/ent.go
  internal/httpserve/handlers/tfavalidate.go
Labels: bug, httpserve

#410 bug: fix redis client nil
  internal/httpserve/serveropts/option.go
Labels: bug, httpserve

#412 feat: keychain updates
  cmd/cli/cmd/client.go
  cmd/cli/cmd/root.go
  go.mod
  go.sum
Labels: enhancement, cli

#413 feat: only return register token against localhost, add descriptions to fields
  cmd/serve.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/handlers/register.go
  internal/httpserve/handlers/verify_test.go
  internal/httpserve/handlers/verifyemail.go
  internal/httpserve/server/openapi.go
  pkg/models/models.go
Labels: enhancement, httpserve

#418 feat: option to also return tfa secret on update/create in addition to qr code
  go.mod
  go.sum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/actionplan.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/generated/tfasetting.generated.go
  internal/graphapi/model/gen_models.go
  internal/graphapi/query/tfasetting.graphql
  internal/graphapi/schema/tfaextended.graphql
  internal/graphapi/tfahelpers.go
  internal/graphapi/tfasetting.resolvers.go
  internal/graphapi/tfasetting_test.go
  internal/httpserve/serveropts/option.go
  pkg/openlaneclient/graphclient.go
  pkg/openlaneclient/models.go
Labels: enhancement, graphqlschema, httpserve, graphapi, coreclient

#422 allow tfa to be disabled without removing the settings
  internal/ent/hooks/usersettings.go
Labels: enhancement

#423 bug: fix renable totpAllowed = true after disable
  internal/ent/hooks/tfasettings.go
  internal/graphapi/tfasetting_test.go
Labels: bug, graphapi
