Repository theopenlane/core, pull requests merged in 2025-10, with the labels that each got.

#1315 return error code on oauth register too
  internal/httpserve/handlers/oauth_login.go
  internal/httpserve/handlers/oauth_register.go
  internal/httpserve/handlers/sso.go
  internal/httpserve/handlers/webauthn.go
Labels: bug, httpserve

#1318 Fix pre-commit auto-update annoying-ness and run against all files
  .pre-commit-config.yaml
  cmd/catalog/README.md
  config/helm-values.yaml
  fga/tests/tests.yaml
  fga/tests/tuples/trust_center_doc.yaml
  internal/graphapi/query/controlhistory.graphql
  internal/graphapi/query/mappedcontrolhistory.graphql
  internal/graphapi/query/simple/contacthistory.graphql
  internal/graphapi/query/simple/export.graphql
  internal/graphapi/query/simple/group.graphql
  internal/graphapi/query/simple/narrativehistory.graphql
  internal/graphapi/query/simple/subscriber.graphql
  internal/graphapi/query/simple/trustcentercompliancehistory.graphql
  internal/graphapi/query/subprocessorhistory.graphql
  internal/graphapi/task_test.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
  pkg/catalog/genyaml/yamlgen.go
  pkg/objects/config.go
  pkg/openlaneclient/graphclient.go
Labels: enhancement, authorization, graphapi, coreclient, config

#1317 feat: domain restriction on allowed domains
  internal/ent/hooks/organizationsetting.go
  internal/ent/validator/email.go
  internal/graphapi/organization_test.go
  internal/graphapi/tools_test.go
Labels: enhancement, graphapi

#1321 remove from tempaltes
  config/configmap.yaml
  jsonschema/templates/configmap.tmpl
Labels: config

#1323 un-skip apollo linter
  .buildkite/pipeline.yaml
Labels: ci

#1326 Remove unused Stripe PublicKey parameter
  config/.env.example
  config/config.example.yaml
  config/configmap.yaml
  config/helm-values.yaml
  jsonschema/api-docs.md
  jsonschema/core.config.json
  pkg/catalog/TODO.md
  pkg/entitlements/config.go
  pkg/entitlements/stripe_test.go
Labels: enhancement, config

#1329 feat: add cli for file and url document upload
  cmd/cli/cmd/internalpolicy/create.go
  cmd/cli/cmd/internalpolicy/root.go
  cmd/cli/cmd/procedure/create.go
  cmd/cli/cmd/procedure/root.go
  internal/graphapi/query/simple/internalpolicy.graphql
  pkg/corejobs/internal/olclient/mocks/mocks.go
  pkg/openlaneclient/graphclient.go
Labels: enhancement, cli, graphapi, coreclient

#1347 fix: add modules to claims on refresh
  internal/httpserve/handlers/accountfeatures_test.go
  internal/httpserve/handlers/invite_test.go
  internal/httpserve/handlers/refresh.go
  internal/httpserve/handlers/refresh_test.go
  internal/httpserve/handlers/seed_test.go
Labels: bug, httpserve

#1356 bug: fix taskfile for correct commands on impersonation + target user get
  cmd/cli/Taskfile.yaml
  internal/ent/interceptors/user.go
Labels: enhancement, cli
